page-catraca {

    * {
        box-sizing: border-box;
    }

    body {
        padding: 0;
        margin: 0;
        font-family: Verdana;
        font-size: 62.5%;
    }

    .toolbar-content {
        display: flex;
    }

    .button[icon-only] {
        box-shadow: none;
        background-color: transparent;
    }

    .control-list {
        display: block;
        padding: 20px 0;
        margin-bottom: 5vh;
        list-style: none;

        .line {
            display: block;
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;
            min-height: 100px;
            padding: 0 20px 0 48px;
            border: none;

            &:last-child .content {
                border: none;
                padding: 0 0 0 54px;
            }

            .date {
                position: absolute;
                top: 0;
                left: 20px;
                display: flex;
                flex-wrap: wrap;
                align-content: center;
                width: 60px;
                height: 60px;
                border-radius: 100px;
                border: 5px solid #a6c3e9;
                background: #4f8ad8;

                .day {
                    width: 100%;
                    text-align: center;
                    font-size: 0.8em;
                    color: #ffffff;
                }

                .month {
                    width: 100%;
                    text-align: center;
                    text-transform: capitalize;
                    font-size: 0.8em;
                    color: #ffffff;
                }
            }

            .content {
                padding: 0 0 20px 50px;
                border-left: 4px solid #a6c3e9;

                .arrow {
                    position: absolute;
                    top: 20px;
                    left: 93px;
                    width: 20px;
                    height: 20px;
                    transform: rotate(45deg);
                    border: 3px solid #a6c3e9;
                    border-top: none;
                    border-right: none;
                    background: #4f8ad8;
                }

                .baloon {
                    min-height: 80px;
                    padding: 20px;
                    margin: 0;
                    border-radius: 10px;
                    border: 3px solid #a6c3e9;
                    background: #4f8ad8;

                    .hours {
                        display: flex;
                        justify-content: space-between;
                        margin: 0 0 10px;
                        font-size: 0.8em;
                        color: #ffffff;

                        &:last-child {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }



    // fix-ionics

    .list-ios>.item-block:first-child,
    .list-ios>.item-block:last-child,
    .item-md .item-block .item-inner,
    .item-md.item-block .item-inner,
    .list-ios .item-block .item-inner,
    .list-ios.item-block .item-inner {
        border: none;
    }

    .label-ios,
    .label-md {
        margin: 0;
    }
}