<ion-header>
	<ion-toolbar color="primary" style="display: flex">
		  <ion-navbar>
					<ion-buttons left>
						<button ion-button icon-only color="primary_20" (click)="sair()">
						<ion-icon name="log-out"></ion-icon>
						</button>
				  	</ion-buttons>
						<ion-title>Meu ONS</ion-title>
						<ion-buttons end>
								<button ion-button icon-only (click)="doRefresh()" end>
										<ion-icon name="refresh"></ion-icon>
									</button>	
						</ion-buttons>
		  </ion-navbar>
	</ion-toolbar>
</ion-header>
<ion-content>
	  <ion-refresher (ionRefresh)="doRefresh($event)">
				<ion-refresher-content
					pullingIcon="arrow-round-down"
					pullingText="Puxe para recarregar"
					refreshingSpinner="bubbles"
					refreshingText="Carregando...">
				</ion-refresher-content>
			</ion-refresher>
		
	<ion-list class="control-list">
		<ion-item class="line" *ngFor="let d of listaDias">
			<div class="date">
				<div class="day">{{d.dia}}</div>
				<div class="month">{{d.mes}}</div>
			</div>

			<div class="content">
				<div class="arrow"></div>
				<div [innerHTML]='getlistaBatidas(d)'></div>
			</div>
		</ion-item>

	</ion-list>
	<br>
	<br>
	<br>
	<br>
	<br>
	<ion-infinite-scroll (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>