<ion-header>
  <ion-toolbar color="ons-coral">
    <ion-navbar [hidden]="showSearch">
        <ion-buttons left>
            <button ion-button icon-only color="primary_20" (click)="sair()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-buttons>
      <ion-title text-center>Recebimentos Fisicos</ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="searchShow(true)">
          <ion-icon name="search"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>

    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" [hidden]="!showSearch">
    </ion-searchbar>
    <ion-segment (click)="searchShow(false)">
      <ion-segment-button value="new">
        <span class="headColor">Pendentes</span>
      </ion-segment-button>
      <ion-segment-button value="hot">
        <span class="headColor">Outros</span>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content (click)="searchShow(false)">
  <button ion-button full (click)="voltar()">Sair</button>
  <ion-list color="primary">
    <ion-item-sliding #expandList *ngFor="let item of dadosObj">
      <ion-item-options side="left">
        <button ion-button color="ons-green" (click)="archive(item, 1)">
          <p>Aprovar</p>
          <ion-icon name="checkmark"></ion-icon>
        </button>
      </ion-item-options>
      <ion-item-options side="right">
        <button ion-button color="ons-red" (click)="archive(item, 0)">
          <p>Reprovar</p>
          <ion-icon name="archive"></ion-icon>
        </button>
      </ion-item-options>
      <!-- {{item.backColorCard}} -->
      <ion-card ion-item class="borderline " [ngStyle]="item.backColorCard">
        <div class="Card_Data">
          <!-- [hidden]="item.show" -->
          <div class="HeadOfCard">
            <div>
              <h2 [ngStyle]="item.LetterColor">BRQ</h2>
            </div>
            <div>
              <h2 [ngStyle]="item.LetterColor">Pendente</h2>
            </div>
          </div>
          <div text-wrap>
            <p [ngStyle]="item.LetterColor"> Objeto Lorem ipsum dolor sit voltaire es amoted kyoelex</p>
          </div>
          <h6 [ngStyle]="item.LetterColor">R$ 15.999,99</h6>

          <ion-icon class="iconeAbrirFechar" [hidden]="!item.expanded" (click)="expandItem(item)" name="arrow-dropup"></ion-icon>
          <ion-icon class="iconeAbrirFechar" [hidden]="item.expanded" (click)="expandItem(item)" name="arrow-dropdown"></ion-icon>

          <expandable [expandHeight]="itemExpandHeight" [expanded]="item.expanded">
            <ion-grid>
              <ion-row>
                <ion-col col-6>
                  <h5>Valor Compromissado</h5>
                  <h6>{{item.valorCompromissado}}</h6>
                </ion-col>
                <ion-col col-6>
                  <h5>Valor Remanescente</h5>
                  <h6>{{item.valorRemanescente}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <h5>Unidade</h5>
                  <h6>{{item.unidade}}</h6>
                </ion-col>
                <ion-col col-6>
                  <h5>Identificação</h5>
                  <h6>{{item.ID}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <h5>Nº Recebimento</h5>
                  <h6>{{item.nRecebimento}}</h6>
                </ion-col>
                <ion-col col-6>
                  <h5>Data</h5>
                  <h6>{{item.dataCriado}}</h6>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col col-6>
                  <h5>Anexos</h5>
                  <div>
                    <ion-grid class="minilist">
                      <ul>
                        <li>
                          <ion-icon name="attach"></ion-icon>
                          <span>I’d advise using the second option as much as you can</span>
                        </li>
                        <li>
                          <ion-icon name="attach"></ion-icon>
                          <span>I’d advise using the second option as much as you can</span>
                        </li>
                        <li>
                          <ion-icon name="attach"></ion-icon>
                          <span>I’d advise using the second option as much as you can</span>
                        </li>
                        <li>
                          <ion-icon name="attach"></ion-icon>
                          <span>I’d advise using the second option as much as you can</span>
                        </li>
                        <li>
                          <ion-icon name="attach"></ion-icon>
                          <span>I’d advise using the second option as much as you can</span>
                        </li>
                      </ul>
                    </ion-grid>
                  </div>
                </ion-col>
                <ion-col col-6 class="chartCol">
                  <div class="chartSize">
                    <canvas baseChart [data]="graficoObj.data" [options]="graficoObj.options" [colors]="graficoObj.colors"
                      [chartType]="graficoObj.type">
                    </canvas>
                    <div class="centerOfGraph">
                        <h1>
                            75%
                          </h1>
                          <h2>
                            50%
                          </h2>
                    </div>

                  </div>
                </ion-col>
              </ion-row>
              <ion-row class="bottomRow">
                <ion-col col-6>
                  <button ion-button color="ons-red" (click)="archive(item, 0)">
                    <ion-icon name="close"></ion-icon>
                    Reprovar
                  </button>
                </ion-col>
                <ion-col col-6>
                  <button ion-button color="ons-green" (click)="archive(item, 1)">
                    <ion-icon name="checkmark"></ion-icon>
                    Aprovar
                  </button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </expandable>
        </div>

        <div class="hourGlassCard {{holdCardObj.class}}" [hidden]="!item.show" (click)="cancel(item)">
          <div class="hourGlass">
            <round-progress [current]="progressCircleBar.current" [color]="progressCircleBar.color" [radius]="progressCircleBar.radius"
              [stroke]="progressCircleBar.stroke" [background]="progressCircleBar.background" [clockwise]="progressCircleBar.clockwise"
              [max]="progressCircleBar.max">
            </round-progress>
            <ion-icon name="close" class="hourGlassIcon"></ion-icon>
          </div>
          <h4 class="hourGlassHeader">Desfazer {{holdCardObj.text}}</h4>
        </div>

      </ion-card>
    </ion-item-sliding>
  </ion-list>
</ion-content>
