$colors: '../../../../theme/variables.scss';
@import '../../../../theme/variables.scss';

.ios,
.md {
  page-recebimento {
    * {
      white-space: normal;
    }

    >ion-header {
      >.toolbar-md {
        padding: 0;

        .toolbar-md {
          min-height: 40px;
          padding: 10px;

          .toolbar-title-md {
            padding: 0;
            font-size: 1.7rem;
            font-weight: normal;
            text-transform: uppercase;
          }
        }
      }

      ion-segment {
        &.segment-md {
          .segment-button {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            padding: 0 5px;
            border-bottom-width: 5px;
            border-color: rgba(color($colors, ons-white), 0);
            line-height: unset;
            font-weight: normal;

            &.segment-activated {
              border-color: rgba(color($colors, ons-white), 0.5);
            }

            >.headColor {
              font-weight: normal;
              font-size: 16pt;
              text-transform: none;
              color: color($colors, ons-white);
            }
          }
        }
      }

      &.header-md::after {
        display: none;
      }
    }

    .searchbar-input {
      border-bottom-style: solid;
      border-bottom-width: 5px;
      border-bottom-color: #f99149;
      color: #141414;
      box-shadow: none;
      background-color: transparent;
    }

    >ion-content {
      ion-item-sliding {
        padding: 0 10px;
        margin: 10px 0;
        overflow: initial;

        ion-item-options {
          border: none;

          button {
            .button-inner p {
              font-size: 1.2em;
              font-weight: normal;
              text-transform: initial;
            }

            ion-icon {
              padding: 0;
              font-size: 2.4em;
            }
          }
        }

        >.borderline {
          margin: 0;
          border-radius: 5px;
          border-width: 1px;
          border-style: solid;
          border-color: color($colors, ons-coral);
          box-shadow: 0 3px 12px rgba(color($colors, ons-black), 0.4);
        }

        >.item-md {
          padding: 0;

          .item-inner {
            padding: 10px 0px 25px;
            border: 0;

            ion-label {

              /* >.Card_Data { */
              &.label-md {
                margin: 0;
              }

              .HeadOfCard {
                display: flex;
                align-content: space-between;
                display: block;
                overflow: hidden;
                margin: 0 5px 5px;

                >div {
                  &:last-child {
                    position: static;
                    left: auto;
                    float: right;
                  }
                }

                h2 {
                  font-size: 12pt;
                  float: left;
                  color: color($colors, ons-coral);
                }
              }

              [text-wrap] p {
                padding: 0 5px;
                font-size: 12pt;
                color: color($colors, ons-gray);
              }

              >h4 {
                margin: 0 0 10px;
                color: color($colors, ons-coral);
              }

              h6 {
                margin: 0 0 10px;
                padding: 0 5px;
                color: color($colors, ons-coral);
              }

              .expand-wrapper {
                >.grid {
                  padding: 0;

                  .row {
                    margin: 0 0 10px;
                  }

                  h5 {
                    margin: 0 0 5px;
                    color: color($colors, ons-gray);
                  }
                }

                .minilist {
                  display: block;
                  overflow-y: auto;
                  height: 180px;
                  padding: 10px;
                  border-width: 1px;
                  border-style: solid;
                  border-radius: 5px;
                  border-color: color($colors, ons-coral);

                  ul {
                    margin: 0;
                    padding: 0;
                    overflow: hidden;

                    li {
                      display: flex;
                      margin: 0 0 10px;
                      padding: 0 0 10px;
                      font-size: 1.1rem;
                      border-bottom: 1px solid rgba(color($colors, ons-gray), 0.5);
                      color: color($colors, ons-coral);

                      &:last-child {
                        margin: 0;
                        padding: 0;
                        border: none;
                      }

                      ion-icon {
                        width: 40px;
                        color: color($colors, ons-gray);
                        font-size: 2rem;
                        margin: 5px 0 0;
                        transform: rotate(45deg);
                        transform-origin: center;
                      }
                    }
                  }
                }

                .chart {
                  display: block;
                  width: 100%;
                }

                .chartCol {
                  display: flex;
                  justify-content: center;
                }

                .chartSize {
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  canvas {
                    height: 100% !important;
                    width: 100vw !important;
                    z-index: -1;
                  }

                  .centerOfGraph {
                    position: absolute;
                    /* top: 50%; */
                    align-self: center;
                    display: flex;

                    h1 {
                      color: red;
                    }

                    h2 {
                      color: blue;
                    }
                  }
                }

                .bottomRow {
                  button {
                    width: 100%;
                    margin: 0;
                    border-radius: 5px;
                    text-transform: none;
                    font-weight: normal;
                    font-size: 1.7rem;

                    ion-icon {
                      margin: 0 10px 0 0;
                    }
                  }
                }
              }

              /* } */
            }
          }
        }
      }
    }
  }

  .iconeAbrirFechar {
    position: absolute;
    bottom: 0;
    display: flex;
    color: color($colors, ons-coral);
    justify-content: center;
    width: 100%;
    margin: 0 0 10px;
    font-size: 2.2em;
    left: auto;
    line-height: 0.5;
  }

  .hourGlassCard {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    &.cancel-aprovar {
      background-color: color($colors, ons-green-2);
    }

    &.cancel-reprovar {
      background-color: color($colors, ons-red);
    }

    .hourGlass {
      width: 65px;
      height: 65px;
      align-items: center;
      justify-content: center;
      display: flex;

      round-progress {
        width: 65px !important;
        height: 65px !important;
      }

      .hourGlassIcon {
        position: absolute;
        font-size: 2.9em;
        color: color($colors, ons-white);
      }
    }

    >h4.hourGlassHeader {
      margin: 10px 0 0;
      font-size: 2rem;
      font-weight: bold;
      color: #ffffff;
    }
  }
}
