<ion-header>
  <ion-toolbar color="ons-green">
    <ion-navbar>
      <div style="display: flex">
        <ion-title text-center>Meu ONS</ion-title>
      </div>
    </ion-navbar>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 text-center>
    ESTA TELA É PARA TESTES APENAS
  </h1>
  <h3 text-center>
    Sendo assim, fica explicito que a mesma não esta relacionada à entrega do TFS_4249.
  </h3>

  <ion-list>
    <ion-item>
      <ion-label>Destino</ion-label>
      <ion-select [(ngModel)]="directs">
        <ion-option *ngFor="let item of options" [value]="item.page">{{item.nome}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-item>
    <ion-range min="0" max="16" step="1" [(ngModel)]="qtdQuadrados">
      <ion-icon small range-left name="cube"></ion-icon>
      <ion-icon range-right name="cube"></ion-icon>
    </ion-range>
  </ion-item>

  <button ion-button full>Items no menu: {{qtdQuadrados}}</button>

  <button ion-button block (click)="goToApp()">Entrar</button>
</ion-content>
