page-home {

.iconSize{
  font-size: 3.2em;
  color: white;
}


	.squares {
		width:100%;
		height: 100%;
		overflow-y: auto;
		display: flex;
		flex-wrap: wrap;

		.square {
			cursor: pointer;

			&:hover {

				.content {
					background-color: rgba(color($colors, ons-black), 0.3);
				}
			}
		}

		.content {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			background-color: rgba(color($colors, ons-black), 0);
			transition: background-color, 0.4s;

			figure {
				display: flex;
				flex-direction: column;
				align-items: center;

				.icon {
					width: 50px;
					height: 50px;
					margin: 0 0 5px;
					text-align: center;

					img {
						width: 100%;
					}
				}

				p {
					width: 100%;
					height: 50px;
					margin: 0 0 5px;
					padding: 0;
					text-align: center;
					font-size: 3em;
					font-family: 'verdana';
					color: color($colors, ons-white);
				}

				figcaption {
					text-align: center;
					font-size: 1em;
					font-family: 'verdana';
					color: color($colors, ons-white);
				}
			}
		}

		.w-100 {
			width: 100%;
		}

		.w-50 {
			width: 50%;
		}

		.w-33 {
			width: 33.33%;
		}
	}
}


