<ion-header>
  <!-- <ion-toolbar > -->
    <ion-navbar color="ons-green">
        <ion-buttons left>
            <button ion-button icon-only color="primary_20" (click)="sair()">
              <ion-icon name="log-out"></ion-icon>
            </button>
          </ion-buttons>
        <ion-title text-center>Meu ONS</ion-title>
    </ion-navbar>
  <!-- </ion-toolbar> -->
</ion-header>
<ion-content>
  <ion-grid *ngIf="data.length < 1">
    <ion-row text-center>
      <ion-col>
          <ion-label>
              {{ NoAppAllowed }}
          </ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div *ngIf="data" class="squares">
    <div class="square" [ngClass]="getSomeClass(item)" [ngStyle]="getMyStyles(item)" *ngFor="let item of data">
      <div class="content" (click)="goToApp(item)">
        <figure>
          <!--
					Condicionar a exibição do ".icon" e do "<p>" no back-end.
					Se o item tiver imagem (.jpg, .gif, .png e .svg),
					exibir o ".icon" e carregar a imagem.
					Caso contrário, ocultar o ".icon" e exibir o "<p>" com as iniciais.
				-->
          <div class="icon">
            <img src="./assets/icon/icon_001.svg">
          </div>
          <!-- <p>MM</p> -->
          <figcaption *ngIf="item">{{item.nome}}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</ion-content>